@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;700&display=swap');

.wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content:center;
  gap: 10px;
  padding: 30px;
  margin-top: 50px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 400px;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  height: fit-content;
  flex-wrap: wrap;
}

.title p {
  font-size: 40px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  height: fit-content;
  flex-wrap: wrap;
}

.subtitle p {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: justify;
}

.items {
  display: flex;
  flex-direction: row;
  height: fit-content;
  min-height: 60px;
  width: 100%;
  padding: 10px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 150px;
  width: 28%;
  max-width: 28%;
  gap: 5px;
  border-radius: 20px;
  box-shadow: 0 0 2px 2px rgba(181, 176, 176, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.item-logo {
  width: 40px;
  max-width: 40px;
  height: 40px;
  max-height: 40px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.7;
}

.item:hover,
.item:hover .item-logo,
.item:hover .item-project__name,
.item:hover .item-project__description {
  opacity: 1;
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

.item-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-project__name {
  width: 100%;
  height: 20%;
  max-height: 20%;
  display: flex;
  align-items: center;
  opacity: 0.7;
  overflow: hidden;
}

.item-project__name p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(20px + (24 - 16) * ((100% - 300px) / (800 - 300)));
}

.item-project__description {
  width: 100%;
  height: 13%;
  max-height: 13%;
  opacity: 0.7;
  overflow: hidden;
}

.item-project__description p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgb(161, 159, 157);
  text-overflow: ellipsis;
  font-size: calc(15px + (24 - 16) * ((100% - 300px) / (800 - 300)));
}

.item-project__link {
  width: 100%;
  height: 10%;
  max-height: 10%;
  display: flex;
  align-items: center;
}

.item-project__link a {
  font-size: 10px;
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: green;
}

.invalid a {
  color: red;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .item {
    width: 70%;
    max-width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100px;
    /* display: none; */
  }

  .title p {
    font-size: 25px;
  }

  .subtitle {
    display: none;
  }
}