@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

.wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content:center;
  gap: 40px;
  padding: 60px;
  margin-top: 50px;
  height: 350px;
}

.wrapper-left {
  display: flex;
  height: 100%;
  width: 65%;
  flex-direction: column;
  align-content: center;
  justify-content:flex-start;
}

.wrapper-left button {
  background: #d90429;
  color: white;
  width: 10rem;
  height: 2.5rem;
  margin-top: 20px;
  text-align: center;
  border-radius: 0.2rem;
  font-size: 1rem;
}

button a {
  text-decoration: none;
  color: white;
}

.wrapper-left button:hover,
.wrapper-left button:active {
  color: black;
  background: white;
  transition: 0.3s;
  cursor: pointer;
}

.wrapper-left button:hover a,
.wrapper-left button:active a {
  color: black;
}

.title {
  width: 100%;
  height: 35%;
  color: #2b2d42;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

.subtitle {
  width: 100%;
  height: 15%;
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  animation: fadeText 4s forwards alternate;
}

.logos {
  width: 85%;
  height: 15%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically center the content */
}

.logos__item {
  width: 10%;
}

.logos i {
  font-size: 30px;
  width: 100%;
  color: #333;
}

.logos i:hover,
.logos i:active {
    color: #d90429;
    transition: 0.3s;
    cursor: pointer;
}

.picture {
  height: 100%;
  width: 35%;
  animation: wiggle 3s infinite;
  border-radius: 2rem;
  background: url('./resources/homepage.jpg') left 50% bottom 60%/cover no-repeat border-box;
}

.content {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.content-article {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-article__header {
  height: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.content-experience {
  height: 220px;
  width: 260px;
  border: 0.5px solid rgb(209, 205, 205);
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(181, 176, 176, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.content-experience__header {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  gap: 2px;
  align-items: center;
  padding: 5px;
  /* margin-left: 20px; */
}

.content-experience__main {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  display: flex;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-experience__main .experience-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.circle-container {
  width: 40px;
  height: 35px;
  display: flex;
  align-self: center;
}

.circle-container img {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(181, 176, 176, 0.3);
}


.experience-list__company {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.experience-list__company .name {
  width: 100%;
  height: 50%;
  display: flex;
  font-size: 1rem;
  align-items: center; /* Vertically center-aligns the text */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.experience-list__company .position {
  width: 100%;
  height: 30%;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  align-self: center;
}

.content-experience__header i {
  font-size: 15px;
  width: 5%;
  color: #959191;
  text-align: center;
  margin: auto 10px;
}

.content-experience__header p {
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@keyframes wiggle {
  0% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(2deg);
  }
}

@keyframes fadeText {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}